<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221860665270-vrnb8tutkqkmb0l15k9uv1h4achajqld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221860665270-vrnb8tutkqkmb0l15k9uv1h4achajqld</string>
	<key>API_KEY</key>
	<string>AIzaSyCmTUZ879BqExPH-qSAC6-upQDczZNt6rA</string>
	<key>GCM_SENDER_ID</key>
	<string>221860665270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.francescamacdonald.Snacktackular</string>
	<key>PROJECT_ID</key>
	<string>snacktactular-a1697</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktactular-a1697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221860665270:ios:e92329110534cea0049317</string>
</dict>
</plist>